<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :twitter_handle %><br>
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <%= f.label :twitter_follower_count %><br>
    <%= f.number_field :twitter_follower_count %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br>
    <%= collection_select(:user, :site_id, Site.all, :id, :name, {:include_blank => 'Please Select'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
